:root {
  --green-primary: #17531c;
  --green-secondary: #e0ecd7;
  --green-secondary-transparent: #aee5c0;
  --light-background: #f2f4e9;
  --red_primary: #c30900;
}

.SupportForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: var(--light-background);
  width: 380px;
  border-radius: 10px;

  .SupportForm__item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
      height: 200px;
      resize: none;
    }
  }
}

@media (max-width: 480px) {
  .SupportForm {
    width: 90%;
  }
}
